<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
			<link rel="icon" href="{{ asset('images/livre-ouvert.jpg') }}">
			<link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}">
		{% endblock %}

	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="#">
				<b>&nbsp;Gestion Mémoires</b>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
						</a>
					</li>
                    {% if app.user %}
                    
					<li class="nav-item">
						<a class="nav-link" href="{{path('gest_filiere')}}">Gesion Filières</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('gest_encadreur')}}">Gestion Encadreurs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('gest_etudiant')}}">Gestion Etudiants</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('gest_soutenance')}}">Gestion Soutenance</a>
					</li>
                    {% endif %}
					
                    {% if  not app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('login')}}">Se connecter</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{{path('registration')}}">Créer un compte</a>
					</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('logout')}}">Deconnexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="container"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				<script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
				<script src="{{ asset('js/bootstrap.min.js') }}"></script>
			{% endblock %}
		</body>

	</html>
