<div class="container">
<div class="row mb-3">
	<div class="col-md-4">
		<p class="mb-0">prof de Memoire</p>
	</div>
	<div class="col-md-8">
		<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.encadreur.prenom ~ " "~ etudiantSoutenance.etudiant.encadreur.nom ~ " ,"~ etudiantSoutenance.etudiant.encadreur.titre}}</p>
	</div>
</div>
</div>


<section>
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body border-0">
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Prenom(s)</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.prenom}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Nom(s)</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.nom}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Adresse</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.adresse}}</p>
							</div>
						</div>
						<hr>
					</div>
				</div>

				<div class="row ">
					<div class="col-md-12">
						<div class="card mb-4 mb-md-0">
							<div class="card-body">
								<p class="mb-4">
									<span class="text-primary font-italic me-1">Filière</span>
									Infos
								</p>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Filière Code</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.filiere.codeFiliere}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Filière Designation</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.filiere.designation}}</p>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

				<div class="row mt-3">
					<div class="col-md-12">
						<div class="card mb-4 mb-md-0">
							<div class="card-body">
								<p class="mb-4">
									<span class="text-primary font-italic me-1">Mémoire</span>
									Infos
								</p>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Thème Mémoire</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.memoire.theme}}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Mémoire Ecrit en</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.memoire.annee}}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Option</p>
									</div>
									<div class="col-sm-9">
										<p class="text-muted mb-0">{{etudiantSoutenance.etudiant.memoire.options}}</p>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="col-lg-4">

				<div class="card mb-4">
					<div class="card-body text-center">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
						<h5 class="my-3">Prenom Nom</h5>
						<div class="d-flex justify-content-center mb-2">
							<button type="button" class="btn btn-primary">A Modifier</button>
						</div>
					</div>
				</div>

				<div class="card mb-4 mb-lg-0">
					<div class="card-body p-0">
						<ul class="list-group list-group-flush rounded-3">
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="fas fa-globe fa-lg text-warning"></i>
								<p class="mb-0">https://mdbootstrap.com</p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="fab fa-github fa-lg" style="color: #333333;"></i>
								<p class="mb-0">mdbootstrap</p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
								<p class="mb-0">@mdbootstrap</p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
								<p class="mb-0">mdbootstrap</p>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
								<p class="mb-0">mdbootstrap</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{# <button type="button" class="btn btn-primary modifier_position_jury"
  data-path="{{path('edit_soutenance_update_position_jury',{'id':soutenance.id,'id_jury':jury.id})}}">Appliquer</button> #}
