{% extends "base.html.twig" %}
{% block title %}Modifier une filière
{% endblock %}
{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center row mt-3">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header bg-success text-white">Modification de La filière</div>
					<div class="card-body">
						{{form_start(formEdit,{'attr':{'novalidate':'novalidate'}})}}
						<div class="form-group">
							{{form_row(formEdit.codeFiliere)}}
						</div>
						<br>
						<div class="form-group">
							{{form_row(formEdit.designation)}}
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Modifier la filière</button>
							{{form_end(formEdit)}}
							<a class="btn btn-dark" href="{{path('gest_filiere')}}">Annuler</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
